.mapboxgl-popup {
    z-index: 1;
    border-radius: 1rem;
  }

  .mapboxgl-popup-content {
    border-radius: 1rem;
    padding: 0;
    max-width: 240px;
    width: 75%;
    background: var(--dark);
  }
  .mapboxgl-popup-close-button {
    right: 0;
    top: 0;
    color: var(--white);
    line-height: 1;
    z-index: 98;
    background: var(--red);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0 1rem 0 1rem;
    box-shadow: -0.5rem 0.5rem 0.5rem #0002;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--dark);
  }
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: var(--dark);
  }
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: var(--dark);
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--dark);
  }
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-bottom: none;
    border-left: none;
    border-top-color: var(--dark);
  }
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: var(--dark);
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--dark);
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--dark);
  }